#kaocha/v1
{:tests [{:id         :unit
          :test-paths ["test/unit"]}
         {:id         :integration
          :test-paths ["test/integration"]}]
 :reporter [kaocha.report/documentation
            kaocha.report/tap]
 :plugins [:kaocha.plugin/profiling
           :kaocha.plugin/capture-output]}